.login-signup-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(155, 150, 150, 0.058), rgba(0, 0, 0, 0.267)), url("../../../assets/IMG-20240312-WA0001.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.login-form {
    width: 30%;
    height: 60%;
    font-size: 2em;
    font-weight: 600;
    margin-left: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(195, 193, 193, 0.88);
}

.nav-bar-login {
    padding: 20px 50px;
}

.left-component {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-people-portal {
    font-size: 2vw;
}

.right-component {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    font-size: 5vw;
    padding: 10%;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.sign-in-form {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translate(0, -5%);
}

.sign-in-input {
    width: 60%;
    height: 17%;
}

@media (max-width: 900px) {
    .about-people-portal {
        font-size: 3vw;
    }
    .login-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .right-component {
        align-items: flex-start;
        align-items: center;
        padding: 0;
        height: 30%;
        text-align: center;
        margin-top: 2%;
        font-size: 9vw;
    }
    .login-form {
        margin: 0;
        width: 80vw;
    }
    .login-container {
        width: 100%;
    }
    .sign-in-input {
        height: 10%;
    }
    .left-component {
        font-size: 3vw;
    }
}
