.document-section {
    width: 100%;
    height: 100%;
    color: whitesmoke;
}

.document {
    width: 8vw;
    height: 8vw;
    text-align: center;
}

.more-info {
    overflow: auto;
    width: 100%;
    text-align: justify;
    /* transition: width 2s height 2s; */
    transition-timing-function: ease-in;
}

.list {
    border: 2px solid wheat;
    transition: all 0.6s;
    filter: brightness(80%);
}
.list:hover {
    filter: brightness(110%);
}

.document-icons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-fields {
    transition: all 0.6s;
    filter: brightness(90%);
}

.info-fields:hover {
    filter: brightness(110%);
}

.personal-details {
    columns: 2;
}

@media (max-width: 768px) {
    .personal-details {
        columns: 1;
    }
}
