/* .profile-card {
    min-height: 100vh;
}

.profile-container {
    width: 200px;
    height: 400px;
    position: absolute;
    align-items: center;
} */

/* body {
    background-color: #efefef;
} */

.node-card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(204, 255, 36, 0.773);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    filter: brightness(90%);
    transition: all 0.56s;
}

.node-card:hover {
    filter: brightness(110%);
    box-shadow: 3px greenyellow;
}

.node-image-container {
    width: 100%;
    height: 55%;
    /* background-color: rgba(58, 42, 29, 0.55); */
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    /* overflow: hidden; */
    padding: 0 2px;
}

.node-image {
    width: 100%;
    height: 100%;
    padding: auto;
    margin: auto;
    cursor: pointer;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card-info {
    width: 100%;
    height: 45%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.6));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.291);
}

/* .card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #00f2fe, #4facfe);
    clip-path: circle(350px at 50% -48.5%);
} */
/* 
.hamburger-menu .center {
    position: absolute;
    height: 2px;
    width: 70%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 1px;
}

.hamburger-menu:before,
.hamburger-menu:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}

.hamburger-menu:before {
    top: 0;
}

.hamburger-menu:after {
    bottom: 0;
} */
