.login-signup-page {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /* background-color: rgb(55, 22, 22); */
    background-image: linear-gradient(90deg, rgba(155, 150, 150, 0.058), rgba(0, 0, 0, 0.267)), url("../../assets/IMG-20240312-WA0001.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.login-form {
    width: 30%;
    height: 60%;
    min-width: 400px;
    min-height: 400px;
    font-size: 2em;
    font-weight: 600;
    margin-left: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(195, 193, 193, 0.88);
    /* transform: translate(-25%, 20%); */
}

.nav-bar-login {
    padding: 20px 50px;
}

.left-component {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.507); */
}

.about-people-portal {
    font-size: 28px;
}

.right-component {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    font-size: 6em;
    padding: 10%;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    font-weight: 500;
    height: 100%;
    width: 100%;
    /* transform: translate(0, -5%); */
}

.sign-in-form {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translate(0, -5%);
}

.sign-in-input {
    width: 60%;
    height: 17%;
    /* ma */
}

@media (min-width: 1024px) {
    /* .login-form {
        transform: translate(70%, 0);
    } */
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
} */
