.detail-card:hover {
    transform: scale(0.97);
    transition: ease-in-out 0.3s;
    border: 2px solid rgba(213, 255, 76, 0.623);
    cursor: pointer;
}

.detail-card {
    transition: transform 0.5s;
    color: rgb(255, 255, 255);
}

.search-section {
    margin: 3px;
    padding: 4px;
    border-top-left-radius: 5em;
}

.search-bar {
    border-top-left-radius: 5em;
    z-index: 2;
    height: 10%;
}

@media (max-width: 1400px) {
    .search-box-icon {
        visibility: hidden;
        position: absolute;
    }
}
