@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    margin: 0;
    padding: 0;
} */

/* body,
html {
    height: 100%;
} */

.bg {
    height: 100vh;
    background-image: url("./assets/rustic-elegance-illuminates-comfortable-domestic-kitchen-with-old-fashioned-bookshelf-decoration-generated-by-ai.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.animate-button-hover:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.animate-button-hover {
    transition: transform 0.5s;
}

body {
    height: 100vh;
    overflow: hidden;
    /* background-color: rgba(70, 82, 12, 0.213); */
}

/* #root {
    height: 100vh;
} */
