@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    height: 100vh;
}

.animate-button-hover:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.animate-button-hover {
    transition: transform 0.5s;
}

body {
    height: 100vh;
    overflow: hidden;
}
