.image {
    width: 100%; /* you can use % */
    height: 100%;
    object-fit: cover;
    border: 4px solid white;
    transition: transform 0.5s;
}
.image:hover {
    transform: scale(1.05);
    border: 2px solid gray;
}

.profile-image {
    height: 80%;
    width: 16%;
}
.image-container {
    width: 17%;
    height: 70%;
}
.change-image-icon {
    opacity: 30%;
    transform: translate(430%, -70%);
    width: 20%;
    height: 20%;
    cursor: pointer;
    transition: all 0.7s;
}

.change-image-icon:hover {
    opacity: 100%;
}

.deep-link {
    width: 40px;
    height: 40px;
}

.deep-link-icons {
    display: flex;
    flex-direction: row;
    margin: 1px;
}

.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.profile-name {
    font-size: 2.5vw;
}

.profile-level {
    font-size: 1vw;
}

.profile-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translate(-50%, 0); */
}

@media (max-width: 1150px) {
}

@media (max-width: 768px) {
    .profile-detail-container {
        flex-direction: row;
    }
    .deep-link-icons {
        width: 2em;
        height: 2em;
        justify-content: center;
    }
    .profile-name {
        font-size: 1.5em;
    }
    .profile-level {
        font-size: 0.8em;
    }
    .profile-info {
        flex-direction: column;
    }
    .image-container {
        /* width: 25%; */
        /* height: 40%; */
    }
    .deep-link {
        width: 30px;
        height: 30px;
    }
    .badge-icon {
        width: 23px;
        height: 23px;
        transform: translate(240%, -70%);
    }
}
